<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name=".debug.DebugSmokeProvider"
            android:authorities="${applicationId}.debug.smoke"
            android:exported="true" />
        <activity
            android:name=".debug.DebugSmokeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <receiver
            android:name=".debug.DebugSmokeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="org.cliprelay.debug.IMPORT_PAIRING" />
                <action android:name="org.cliprelay.debug.CLEAR_PAIRING" />
                <action android:name="org.cliprelay.debug.RESET_PROBE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
